<div class="container new">
  <div class="posts">
    <div class="post">
      <div class="content">
        <p>Using three gems of the same type gives a specific boost.</p>
      </div>
    </div>
  </div>
  <%= simple_form_for([@astromon, @third_gem]) do |f| %>
    <div class="gem-cards">
      <% @third_gems.each do |msl_gem| %>
        <% if msl_gem.available %>
          <label>
            <%= check_box_tag "msl_gem", msl_gem.id, false, class: "invisible" %>
            <%= render "shared/astromon-gems", msl_gem: msl_gem %>
          </label>
        <% end %>
      <% end %>
    </div>
    <%= f.submit "Add Third Gem", class: "button" %>
    <%= link_to "Back", astromons_path, class: "button" %>
  <% end %>
</div>
