<div class="container form">
  <%= form_tag species_index_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an astromon"
    %>
    <%= submit_tag "Search", class: "button" %>
    <%= link_to "Reset Search", species_index_path, class: "button"  %>
    <%= link_to "Back", astromons_path, class: "button" %>
  <% end %>
</div>

<div class="container form paginate_link">
  <%= will_paginate @species %>
</div>

<div class="specie-cards">
  <% @species.each do |specie| %>
    <div class="specie-card">
      <div class="specie-data">
        <div class="specie-pic">
          <h5 style="color: blanchedalmond;"><%= specie.name %></h5>
          <% if specie.pic %>
            <%= image_tag specie.pic, alt: specie.name %>
          <% end %>
          <%= link_to new_astromon_path(specie) do %>
            <button class="button">Add Astromon</button>
          <% end %>
        </div>
        <div class="specie-info">
          <div class="stat inner-border">
            <div class="stat-name">
              <p>HP: <%= specie.hp %></p>
              <p>Attack: <%= specie.attack %></p>
              <p>Defence: <%= specie.defence %></p>
              <p>Recovery: <%= specie.recovery %></p>
              <p>Crit. Dmg: <%= specie.crit_dmg %>%</p>
              <p>Crit. Rate: <%= specie.crit_rate %>%</p>
              <p>Resist: <%= specie.resist %>%</p>
            </div>
          </div>
          <div class="skill inner-border">
            <p><%= specie.first_skill_name %></p>
            <div class="outer-skill">
              <% if specie.first_skill_pic %>
                <div class="img">
                  <%= image_tag specie.first_skill_pic, alt: specie.first_skill_name %>
                </div>
              <% end %>
              <div class="desc">
                <%= specie.first_skill_desc %>
              </div>
            </div>
            <p><%= specie.second_skill_name %></p>
            <div class="outer-skill">
              <% if specie.second_skill_pic %>
                <div class="img">
                  <%= image_tag specie.second_skill_pic, alt: specie.second_skill_name %>
                </div>
              <% end %>
              <div class="desc">
                <%= specie.second_skill_desc %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container form paginate_link">
  <%= will_paginate @species %>
</div>
