<div class="container form search-border">
  <%= form_tag species_index_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an astromon"
    %>
    <label>
      <%= check_box_tag "element","Fire" , false, class: "invisible" %>
      <div class="element-tag">
        <img src="https://vignette.wikia.nocookie.net/monstersuperleague/images/2/28/Element_Fire.png/revision/latest?cb=20160915074335" alt="Fire">
      </div>
    </label>
    <label>
      <%= check_box_tag "element","Water" , false, class: "invisible" %>
      <div class="element-tag">
        <img src="https://vignette.wikia.nocookie.net/monstersuperleague/images/e/ef/Element_Water.png/revision/latest?cb=20160915074342" alt="Water">
      </div>
    </label>
    <label>
      <%= check_box_tag "element","Wood" , false, class: "invisible" %>
      <div class="element-tag">
        <img src="https://vignette.wikia.nocookie.net/monstersuperleague/images/e/ec/Element_Wood.png/revision/latest?cb=20160915074342" alt="Wood">
      </div>
    </label>
    <label>
      <%= check_box_tag "element","Light" , false, class: "invisible" %>
      <div class="element-tag">
        <img src="https://vignette.wikia.nocookie.net/monstersuperleague/images/4/44/Element_Light.png/revision/latest?cb=20160915074343" alt="Light">
      </div>
    </label>
    <label>
      <%= check_box_tag "element","Dark" , false, class: "invisible" %>
      <div class="element-tag">
        <img src="https://vignette.wikia.nocookie.net/monstersuperleague/images/8/85/Element_Dark.png/revision/latest?cb=20160915074343" alt="Dark">
      </div>
    </label>
    <%= submit_tag "Search", class: "button" %>
    <%= link_to "Reset Search", species_index_path, class: "button"  %>
    <%= link_to "Back", astromons_path, class: "button" %>
  <% end %>
</div>

<div class="container form paginate_link">
  <%= will_paginate @species %>
</div>

<div class="specie-cards">
  <% @species.each do |specie| %>
    <div class="specie-card">
      <div class="specie-data">
        <div class="specie-pic">
          <h5 style="color: blanchedalmond;"><%= specie.name %></h5>
          <h6 style="color: burlywood;"><%= specie.typing %></h6>
          <% if specie.pic %>
            <%= image_tag specie.pic, alt: specie.name %>
          <% end %>
          <%= link_to new_astromon_path(specie) do %>
            <button class="button"><i class="fas fa-plus"></i> Astromon</button>
          <% end %>
        </div>
        <div class="specie-info">
          <div class="stat inner-border">
            <div class="stat-name">
              <p><b>Stat</b></p>
              <p>HP: <%= specie.hp %></p>
              <p>Attack: <%= specie.attack %></p>
              <p>Defence: <%= specie.defence %></p>
              <p>Recovery: <%= specie.recovery %></p>
              <p>Crit. Dmg: <%= specie.crit_dmg %>%</p>
              <p>Crit. Rate: <%= specie.crit_rate %>%</p>
              <p>Resist: <%= specie.resist %>%</p>
            </div>
          </div>
          <div class="skill inner-border">
            <p><b><%= specie.first_skill_name %></b></p>
            <div class="outer-skill">
              <% if specie.first_skill_pic %>
                <div class="img">
                  <%= image_tag specie.first_skill_pic, alt: specie.first_skill_name %>
                </div>
              <% end %>
              <div class="desc">
                <%= specie.first_skill_desc %>
              </div>
            </div>
            <p><b><%= specie.second_skill_name %></b></p>
            <div class="outer-skill">
              <% if specie.second_skill_pic %>
                <div class="img">
                  <%= image_tag specie.second_skill_pic, alt: specie.second_skill_name %>
                </div>
              <% end %>
              <div class="desc">
                <%= specie.second_skill_desc %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container form paginate_link">
  <%= will_paginate @species %>
</div>
