<div class="gem-card inner-border">
  <div class="gem-left">
    <div class="gem-pic">
      <div class="gem-border square">
      </div>
    </div>
    <div class="gem-desc">
      <p>Trinket</p>
    </div>
  </div>
  <div class="gem-right">
    <div class="main-stat">
      <% if trinket.m_hp %>
          <p>HP: <%= trinket.m_hp %></p>
      <% elsif trinket.m_attack %>
          <p>Attack: <%= trinket.m_attack %></p>
      <% else %>
          <p>Crit. Res: <%= trinket.m_crit_res %>%</p>
      <% end %>
    </div>
    <div class="sub-stat">
      <% if trinket.s_defence %>
          <p>Defence: <%= trinket.s_defence %></p>
      <% elsif trinket.s_crit_dmg %>
          <p>Crit. Dmg: <%= trinket.s_crit_dmg %>%</p>
      <% else %>
          <p>Crit. Res: <%= trinket.s_crit_res %>%</p>
      <% end %>

      <% if trinket.s_recovery %>
          <p>Recovery: <%= trinket.s_recovery %></p>
      <% elsif trinket.s_resist %>
          <p>Resist: <%= trinket.s_resist %>%</p>
      <% else %>
          <p>Attack: <%= trinket.s_attack %></p>
      <% end %>

      <% if trinket.s_crit_res %>
          <p>Crit. Res: <%= trinket.s_crit_res %>%</p>
      <% elsif trinket.s_recovery %>
          <p>Recovery: <%= trinket.s_recovery %>%</p>
      <% else %>
          <p>HP: <%= trinket.s_hp %>%</p>
      <% end %>
    </div>
  </div>
</div>
