<div class="astromon-cards">
  <% astromons.each do |astromon| %>
    <% @first_gem = FirstGem.find_by(astromon_id: astromon.id) %>
    <% @second_gem = SecondGem.find_by(astromon_id: astromon.id) %>
    <% @third_gem = ThirdGem.find_by(astromon_id: astromon.id) %>
    <% if @first_gem && @second_gem && @third_gem %>
      <% hp_sum = @first_gem.msl_gem.m_hp + @first_gem.msl_gem.s_hp + @second_gem.msl_gem.m_hp + @second_gem.msl_gem.s_hp + @third_gem.msl_gem.m_hp + @third_gem.msl_gem.s_hp %>
      <% attack_sum = @first_gem.msl_gem.m_attack + @first_gem.msl_gem.s_attack + @second_gem.msl_gem.m_attack + @second_gem.msl_gem.s_attack + @third_gem.msl_gem.m_attack + @third_gem.msl_gem.s_attack %>
      <% defence_sum = @first_gem.msl_gem.m_defence + @first_gem.msl_gem.s_defence + @second_gem.msl_gem.m_defence + @second_gem.msl_gem.s_defence + @third_gem.msl_gem.m_defence + @third_gem.msl_gem.s_defence %>
      <% recovery_sum = @first_gem.msl_gem.m_recovery + @first_gem.msl_gem.s_recovery + @second_gem.msl_gem.m_recovery + @second_gem.msl_gem.s_recovery + @third_gem.msl_gem.m_recovery + @third_gem.msl_gem.s_recovery %>
      <% crit_dmg_sum = @first_gem.msl_gem.m_crit_dmg + @first_gem.msl_gem.s_crit_dmg + @second_gem.msl_gem.m_crit_dmg + @second_gem.msl_gem.s_crit_dmg + @third_gem.msl_gem.m_crit_dmg + @third_gem.msl_gem.s_crit_dmg %>
      <% crit_rate_sum = @first_gem.msl_gem.m_crit_rate + @first_gem.msl_gem.s_crit_rate + @second_gem.msl_gem.m_crit_rate + @second_gem.msl_gem.s_crit_rate + @third_gem.msl_gem.m_crit_rate + @third_gem.msl_gem.s_crit_rate %>
      <% resist_sum = @first_gem.msl_gem.m_resist + @first_gem.msl_gem.s_resist + @second_gem.msl_gem.m_resist + @second_gem.msl_gem.s_resist + @third_gem.msl_gem.m_resist + @third_gem.msl_gem.s_resist %>
      <% if astromon.first_gem.msl_gem.gem_category == astromon.second_gem.msl_gem.gem_category && astromon.first_gem.msl_gem.gem_category == astromon.third_gem.msl_gem.gem_category %>
          <% gem_hp = astromon.first_gem.msl_gem.gem_category.hp %>
          <% gem_attack = astromon.first_gem.msl_gem.gem_category.attack %>
          <% gem_defence = astromon.first_gem.msl_gem.gem_category.defence %>
          <% gem_recovery = astromon.first_gem.msl_gem.gem_category.recovery %>
          <% gem_crit_dmg = astromon.first_gem.msl_gem.gem_category.crit_dmg %>
          <% gem_crit_rate = astromon.first_gem.msl_gem.gem_category.crit_rate %>
          <% gem_resist = astromon.first_gem.msl_gem.gem_category.resist %>
          <% flat = astromon.first_gem.msl_gem.gem_category.flat ? "" : "%" %>
      <% else %>
          <% gem_hp = 0 %>
          <% gem_attack = 0 %>
          <% gem_defence = 0 %>
          <% gem_recovery = 0 %>
          <% gem_crit_dmg = 0 %>
          <% gem_crit_rate = 0 %>
          <% gem_resist = 0 %>
      <% end %>
    <% else %>
      <% hp_sum = 0 %>
      <% attack_sum = 0 %>
      <% defence_sum = 0 %>
      <% recovery_sum = 0 %>
      <% crit_dmg_sum = 0 %>
      <% crit_rate_sum = 0 %>
      <% resist_sum = 0 %>
    <% end %>
    <div class="astromon-card">
      <div class="astromon-pic">
        <p><%= astromon.specie.name %></p>
        <%= image_tag astromon.specie.pic, alt: astromon.specie.name %>
      </div>
      <div class="astromon-stat">
        <p>HP: <%= astromon.specie.hp %> +<%= hp_sum %>% <%= gem_hp %><%= flat %></p>
        <p>Attack: <%= astromon.specie.attack %> +<%= attack_sum %>% <%= gem_attack %><%= flat %></p>
        <p>Defence: <%= astromon.specie.defence %> +<%= defence_sum %>% <%= gem_defence %><%= flat %></p>
        <p>Recovery: <%= astromon.specie.recovery %> +<%= recovery_sum %>% <%= gem_recovery %><%= flat %></p>
        <p>Crit. Dmg: <%= astromon.specie.crit_dmg %>% +<%= crit_dmg_sum %>% <%= gem_crit_dmg %><%= flat %></p>
        <p>Crit. Rate: <%= astromon.specie.crit_rate %>% +<%= crit_rate_sum %>% <%= gem_crit_rate %><%= flat %></p>
        <p>Resist: <%= astromon.specie.resist %> +<%= resist_sum %>% <%= gem_resist %><%= flat %></p>
        <p><%= astromon.specie.first_skill.skill.name %>
           <%= image_tag astromon.specie.first_skill.skill.pic, alt: astromon.specie.first_skill.skill.name %>
           <%= astromon.specie.first_skill.skill.description %>
        </p>
        <p><%= astromon.specie.second_skill.skill.name %>
           <%= image_tag astromon.specie.second_skill.skill.pic, alt: astromon.specie.second_skill.skill.name %>
           <%= astromon.specie.second_skill.skill.description %>
        </p>
        <% if astromon.variant_level %>
          <p>Variant Level: <%= astromon.variant_level %></p>
          <%= astromon.specie.variant_skill.name %>
          <%= image_tag astromon.specie.variant_skill.pic, alt: astromon.specie.variant_skill.name %>
          <%= astromon.specie.variant_skill.description %>
        <% end %>
      </div>
      <div class="astromon-gem">
        <div class="gem-cards">
          <% unless @first_gem %>
            <%= link_to "Add First Gem", new_astromon_first_gem_path(astromon) %>
          <% else %>
            <%= link_to astromon_first_gem_path(id: @first_gem.id, astromon_id: astromon.id), method: :delete, data: { confirm: "Are you sure?" } do %>
              <%= render "shared/equipped-gems", msl_gem: @first_gem.msl_gem %>
            <% end %>
          <% end %>
          <% unless @second_gem %>
            <%= link_to "Add Second Gem", new_astromon_second_gem_path(astromon) %>
          <% else %>
            <%= link_to astromon_second_gem_path(id: @second_gem.id, astromon_id: astromon.id), method: :delete, data: { confirm: "Are you sure?" } do %>
              <%= render "shared/equipped-gems", msl_gem: @second_gem.msl_gem %>
            <% end %>
          <% end %>
          <% unless @third_gem %>
            <%= link_to "Add Third Gem", new_astromon_third_gem_path(astromon) %>
          <% else %>
            <%= link_to astromon_third_gem_path(id: @third_gem.id, astromon_id: astromon.id), method: :delete, data: { confirm: "Are you sure?" } do %>
              <%= render "shared/equipped-gems", msl_gem: @third_gem.msl_gem %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
