<div class="gem-card inner-border">
  <div class="gem-left">
    <div class="gem-pic">
      <div class="Trinket-bg">
        <div class="Trinket">
        </div>
      </div>
    </div>
    <div class="gem-desc">
      <p><b>Relic</b></p>
    </div>
  </div>
  <div class="gem-right">
    <div class="main-stat">
      <% unless trinket.m_hp == 0 %>
          <p><b>HP: <%= trinket.m_hp %></b></p>
      <% end %>
    </div>
    <div class="sub-stat">
      <% unless trinket.s_defence == 0 %>
          <p>Defence: <%= trinket.s_defence %></p>
      <% end %>

      <% unless trinket.s_recovery == 0 %>
          <p>Recovery: <%= trinket.s_recovery %></p>
      <% end %>

      <% unless trinket.s_crit_res == 0 %>
          <p>Crit. Res: <%= trinket.s_crit_res %>%</p>
      <% end %>
    </div>
  </div>
  <% if trinket.first_trinket %>
    <div class="equipped-astromon-trinket <%= status %>">
      <%= image_tag trinket.first_trinket.astromon.specie.pic, alt: trinket.first_trinket.astromon.specie.name %>
    </div>
  <% end %>
</div>
