<div class="astromon-cards">
  <% astromons.each do |astromon| %>
    <div class="astromon-id invisible" id="<%= astromon.id %>"><%= astromon.id %></div>
    <% @first_gem = Astromon.first_gem(astromon) %>
    <% @second_gem = Astromon.second_gem(astromon) %>
    <% @third_gem = Astromon.third_gem(astromon) %>
    <% @first_trinket = Astromon.first_trinket(astromon) %>
    <% @second_trinket = Astromon.second_trinket(astromon) %>
    <% @third_trinket = Astromon.third_trinket(astromon) %>
    <% hp_sum = Astromon.stat_sum(@first_gem, @second_gem, @third_gem, "hp") %>
    <% gem_hp = Astromon.gem_stat(astromon, "hp") %>
    <% attack_sum = Astromon.stat_sum(@first_gem, @second_gem, @third_gem, "attack") %>
    <% gem_attack = Astromon.gem_stat(astromon, "attack") %>
    <% defence_sum = Astromon.stat_sum(@first_gem, @second_gem, @third_gem, "defence") %>
    <% gem_defence = Astromon.gem_stat(astromon, "defence") %>
    <% recovery_sum = Astromon.stat_sum(@first_gem, @second_gem, @third_gem, "recovery") %>
    <% gem_recovery = Astromon.gem_stat(astromon, "recovery") %>
    <% crit_dmg_sum = Astromon.stat_sum(@first_gem, @second_gem, @third_gem, "crit_dmg") %>
    <% gem_crit_dmg = Astromon.gem_stat(astromon, "crit_dmg") %>
    <% crit_rate_sum = Astromon.stat_sum(@first_gem, @second_gem, @third_gem, "crit_rate") %>
    <% gem_crit_rate = Astromon.gem_stat(astromon, "crit_rate") %>
    <% resist_sum = Astromon.stat_sum(@first_gem, @second_gem, @third_gem, "resist") %>
    <% gem_resist = Astromon.gem_stat(astromon, "resist") %>
    <% flat = Astromon.flat(astromon) %>
    <div class="astromon-card">
      <div class="astromon-data">
        <div class="astromon-pic">
          <div class="data">
            <h5 style="color: blanchedalmond;"><%= astromon.specie.name %></h5>
            <h6 style="color: burlywood;"><%= astromon.specie.typing %></h6>
            <%= image_tag astromon.specie.pic, alt: astromon.specie.name %>
            <%= link_to astromon_path(astromon), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </div>
          <div class="equip" id="<%= astromon.id %>-equip">
            <div class="gem-boost" id="<%= astromon.id %>-gem-effect">
              <div class="equip-gem">
                <div class="gem-pic" id="<%= astromon.id %>-1g">
                  <% unless @first_gem %>
                    <%= link_to new_astromon_first_gem_path(astromon) do %>
                      <div class="gem-border <%= astromon.first_gem_shape %>-bg">
                        <div class="gem-icon <%= astromon.first_gem_shape %> empty-gem">
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="gem-border <%= astromon.first_gem_shape %>-bg">
                      <div class="gem-icon <%= astromon.first_gem_shape %> <%= astromon.first_gem.msl_gem.gem_category.name %>">
                      </div>
                    </div>
                <% end %>
                </div>
                <div class="gem-pic" id="<%= astromon.id %>-2g">
                  <% unless @second_gem %>
                    <%= link_to new_astromon_second_gem_path(astromon) do %>
                      <div class="gem-border <%= astromon.second_gem_shape %>-bg">
                        <div class="gem-icon <%= astromon.second_gem_shape %> empty-gem">
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="gem-border <%= astromon.second_gem_shape %>-bg">
                      <div class="gem-icon <%= astromon.second_gem_shape %> <%= astromon.second_gem.msl_gem.gem_category.name %>">
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="gem-pic" id="<%= astromon.id %>-3g">
                  <% unless @third_gem %>
                    <%= link_to new_astromon_third_gem_path(astromon) do %>
                      <div class="gem-border <%= astromon.third_gem_shape %>-bg">
                        <div class="gem-icon <%= astromon.third_gem_shape %> empty-gem">
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="gem-border <%= astromon.third_gem_shape %>-bg">
                      <div class="gem-icon <%= astromon.third_gem_shape %> <%= astromon.third_gem.msl_gem.gem_category.name %>">
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <% if @first_gem && @second_gem && @third_gem && @first_gem.msl_gem.gem_category == @second_gem.msl_gem.gem_category && @second_gem.msl_gem.gem_category == @third_gem.msl_gem.gem_category%>
                <div id="<%= astromon.id %>-gem-description">
                  <p><%= @first_gem.msl_gem.gem_category.name %> - <%= @first_gem.msl_gem.gem_category.description %></p>
                </div>
              <% end %>
            </div>
            <div class="equip-trinket">
              <div class="gem-pic" id="<%= astromon.id %>-1t">
                <% unless @first_trinket %>
                  <%= link_to new_astromon_first_trinket_path(astromon) do %>
                    <div class="Trinket-bg">
                      <div class="Trinket-empty">
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="Trinket-bg">
                    <div class="Trinket">
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="gem-pic" id="<%= astromon.id %>-2t">
                <% unless @second_trinket %>
                  <%= link_to new_astromon_second_trinket_path(astromon) do %>
                    <div class="Trinket-bg">
                      <div class="Trinket-empty">
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="Trinket-bg">
                    <div class="Trinket">
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="gem-pic" id="<%= astromon.id %>-3t">
                <% unless @third_trinket %>
                  <%= link_to new_astromon_third_trinket_path(astromon) do %>
                    <div class="Trinket-bg">
                      <div class="Trinket-empty">
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="Trinket-bg">
                    <div class="Trinket">
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="stat inner-border">
          <div class="stat-name">
            <p>HP: <%= astromon.specie.hp %></p>
            <p>Attack: <%= astromon.specie.attack %></p>
            <p>Defence: <%= astromon.specie.defence %></p>
            <p>Recovery: <%= astromon.specie.recovery %></p>
            <p>Crit. Dmg: <%= astromon.specie.crit_dmg %>%</p>
            <p>Crit. Rate: <%= astromon.specie.crit_rate %>%</p>
            <p>Resist: <%= astromon.specie.resist %>%</p>
          </div>
          <div class="stat-boost">
            <p>+<%= hp_sum %>%</p>
            <p>+<%= attack_sum %>%</p>
            <p>+<%= defence_sum %>%</p>
            <p>+<%= recovery_sum %>%</p>
            <p>+<%= crit_dmg_sum %>%</p>
            <p>+<%= crit_rate_sum %>%</p>
            <p>+<%= resist_sum %>%</p>
          </div>
<!--           <div class="stat-gem">
            <p>+<%= gem_hp %><%= flat %></p>
            <p>+<%= gem_attack %><%= flat %></p>
            <p>+<%= gem_defence %><%= flat %></p>
            <p>+<%= gem_recovery %><%= flat %></p>
            <p>+<%= gem_crit_dmg %><%= flat %></p>
            <p>+<%= gem_crit_rate %><%= flat %></p>
            <p>+<%= gem_resist %><%= flat %></p>
          </div> -->
          <div class="total-stat">
            <p><%= astromon.specie.hp + Astromon.final_stat(astromon, astromon.specie.hp, hp_sum, gem_hp) %></p>
            <p><%= astromon.specie.attack + Astromon.final_stat(astromon, astromon.specie.attack, attack_sum, gem_attack) %></p>
            <p><%= astromon.specie.defence + Astromon.final_stat(astromon, astromon.specie.defence, defence_sum, gem_defence) %></p>
            <p><%= astromon.specie.recovery + Astromon.final_stat(astromon, astromon.specie.recovery, recovery_sum, gem_recovery) %></p>
            <p><%= astromon.specie.crit_dmg + crit_dmg_sum + gem_crit_dmg %>%</p>
            <p><%= astromon.specie.crit_rate + crit_rate_sum + gem_crit_rate %>%</p>
            <p><%= astromon.specie.resist + resist_sum + gem_resist %>%</p>
          </div>
        </div>
        <div class="skill inner-border">
          <p><%= astromon.specie.first_skill_name %></p>
             <div class="outer-skill">
               <div class="img">
                <%= image_tag astromon.specie.first_skill_pic, alt: astromon.specie.first_skill_name %>
               </div>
               <div class="desc">
                <%= astromon.specie.first_skill_desc %>
               </div>
             </div>
          <p><%= astromon.specie.second_skill_name %></p>
             <div class="outer-skill">
               <div class="img">
                <%= image_tag astromon.specie.second_skill_pic, alt: astromon.specie.second_skill_name %>
               </div>
               <div class="desc">
                <%= astromon.specie.second_skill_desc %>
               </div>
             </div>
        </div>
        <% if astromon.specie.variant_skill_pic %>
          <div class="leader inner-border">
            <p><%= astromon.specie.variant_skill_name %> Lv. <%= astromon.variant_level %></p>
            <div class="outer-skill">
              <div class="img">
                <%= image_tag astromon.specie.variant_skill_pic, alt: astromon.specie.variant_skill_name %>
              </div>
              <div class="desc">
                <%= astromon.specie.variant_skill_desc %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="astromon-gem">
        <div class="gem-cards">
          <div id="<%= astromon.id %>-4g">
            <div class="gem-card inner-border default">
              <div>
                <p>Click on a gem to display it's stats.</p>
              </div>
            </div>
          </div>
          <% if @first_gem %>
            <div class="invisible" id="<%= astromon.id %>-5g" data-gem-id="<%= @first_gem.id %>">
              <%= render "shared/astromon-gems", msl_gem: @first_gem.msl_gem %>
              <%= link_to astromon_first_gem_path(id: @first_gem.id, astromon_id: astromon.id), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          <% else %>
            <div class="invisible" id="<%= astromon.id %>-5g">
              <div class="gem-card inner-border default">
                <div>
                </div>
              </div>
            </div>
          <% end %>
          <% if @second_gem %>
            <div class="invisible" id="<%= astromon.id %>-6g" data-gem-id="<%= @second_gem.id %>">
              <%= render "shared/astromon-gems", msl_gem: @second_gem.msl_gem %>
              <%= link_to astromon_second_gem_path(id: @second_gem.id, astromon_id: astromon.id), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          <% else %>
            <div class="invisible" id="<%= astromon.id %>-6g">
              <div class="gem-card inner-border default">
                <div>
                </div>
              </div>
            </div>
          <% end %>
          <% if @third_gem %>
            <div class="invisible" id="<%= astromon.id %>-7g" data-gem-id="<%= @third_gem.id %>">
              <%= render "shared/astromon-gems", msl_gem: @third_gem.msl_gem %>
              <%= link_to astromon_third_gem_path(id: @third_gem.id, astromon_id: astromon.id), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          <% else %>
            <div class="invisible" id="<%= astromon.id %>-7g">
              <div class="gem-card inner-border default">
                <div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="gem-cards">
          <div id="<%= astromon.id %>-4t">
            <div class="gem-card inner-border default">
              <div>
                <p>Click on a trinket to display it's stats.</p>
              </div>
            </div>
          </div>
          <% if @first_trinket %>
            <div class="invisible" id="<%= astromon.id %>-5t" data-gem-id="<%= @first_trinket.id %>">
              <%= render "shared/astromon-trinkets-one", trinket: @first_trinket.trinket_one %>
              <%= link_to astromon_first_trinket_path(id: @first_trinket.id, astromon_id: astromon.id), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          <% else %>
            <div class="invisible" id="<%= astromon.id %>-5t">
              <div class="gem-card inner-border default">
                <div>
                </div>
              </div>
            </div>
          <% end %>
          <% if @second_trinket %>
            <div class="invisible" id="<%= astromon.id %>-6t" data-gem-id="<%= @second_trinket.id %>">
              <%= render "shared/astromon-trinkets-two", trinket: @second_trinket.trinket_two %>
              <%= link_to astromon_second_trinket_path(id: @second_trinket.id, astromon_id: astromon.id), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          <% else %>
            <div class="invisible" id="<%= astromon.id %>-6t">
              <div class="gem-card inner-border default">
                <div>
                </div>
              </div>
            </div>
          <% end %>
          <% if @third_trinket %>
            <div class="invisible" id="<%= astromon.id %>-7t" data-gem-id="<%= @third_trinket.id %>">
              <%= render "shared/astromon-trinkets-three", trinket: @third_trinket.trinket_three %>
              <%= link_to astromon_third_trinket_path(id: @third_trinket.id, astromon_id: astromon.id), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          <% else %>
            <div class="invisible" id="<%= astromon.id %>-7t">
              <div class="gem-card inner-border default">
                <div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
