<div class="gem-card inner-border">
  <div class="gem-left">
    <div class="gem-pic">
      <div class="Trinket-bg">
        <div class="Trinket">
        </div>
      </div>
    </div>
    <div class="gem-desc">
      <p>Essence</p>
    </div>
  </div>
  <div class="gem-right">
    <div class="main-stat">
      <% unless trinket.m_crit_res == 0 %>
          <p>Crit. Res: <%= trinket.m_crit_res %>%</p>
      <% end %>
    </div>
    <div class="sub-stat">
      <% unless trinket.s_defence == 0 %>
          <p>Defence: <%= trinket.s_defence %></p>
      <% end %>

      <% unless trinket.s_attack == 0 %>
          <p>Attack: <%= trinket.s_attack %></p>
      <% end %>

      <% unless trinket.s_hp == 0 %>
          <p>HP: <%= trinket.s_hp %></p>
      <% end %>
    </div>
  </div>
  <% if trinket.third_trinket %>
    <div class="equipped-astromon-trinket">
      <%= image_tag trinket.third_trinket.astromon.specie.pic, alt: trinket.third_trinket.astromon.specie.name %>
    </div>
  <% end %>
</div>
