<div class="gem-card inner-border">
  <div class="gem-left">
    <div class="gem-pic">
      <div class="gem-border <%= msl_gem.gem_shape %>-bg">
        <div class="gem-icon <%= msl_gem.gem_shape %> <%= msl_gem.gem_category.name %>">
        </div>
      </div>
    </div>
    <div class="gem-desc">
      <p><b><%= msl_gem.gem_category.name %></b></p>
      <p><b><%= msl_gem.gem_category.description %></b></p>
    </div>
  </div>
  <div class="gem-right">
    <div class="main-stat">
      <b>
        <% unless msl_gem.m_hp == 0 %>
          <p>HP: <%= msl_gem.m_hp %>%</p>
        <% end %>
        <% unless msl_gem.m_attack == 0 %>
          <p>Attack: <%= msl_gem.m_attack %>%</p>
        <% end %>
        <% unless msl_gem.m_defence == 0 %>
          <p>Defence: <%= msl_gem.m_defence %>%</p>
        <% end %>
        <% unless msl_gem.m_recovery == 0 %>
          <p>Recovery: <%= msl_gem.m_recovery %>%</p>
        <% end %>
        <% unless msl_gem.m_crit_dmg == 0 %>
          <p>Crit. Dmg: <%= msl_gem.m_crit_dmg %>%</p>
        <% end %>
        <% unless msl_gem.m_crit_rate == 0 %>
          <p>Crit. Rate: <%= msl_gem.m_crit_rate %>%</p>
        <% end %>
        <% unless msl_gem.m_resist == 0 %>
          <p>Resist: <%= msl_gem.m_resist %>%</p>
        <% end %>
      </b>
    </div>
    <div class="sub-stat">
      <% unless msl_gem.s_hp == 0 %>
        <p>HP: <%= msl_gem.s_hp %>%</p>
      <% end %>
      <% unless msl_gem.s_attack == 0 %>
        <p>Attack: <%= msl_gem.s_attack %>%</p>
      <% end %>
      <% unless msl_gem.s_defence == 0 %>
        <p>Defence: <%= msl_gem.s_defence %>%</p>
      <% end %>
      <% unless msl_gem.s_recovery == 0 %>
        <p>Recovery: <%= msl_gem.s_recovery %>%</p>
      <% end %>
      <% unless msl_gem.s_crit_dmg == 0 %>
        <p>Crit. Dmg: <%= msl_gem.s_crit_dmg %>%</p>
      <% end %>
      <% unless msl_gem.s_crit_rate == 0 %>
        <p>Crit. Rate: <%= msl_gem.s_crit_rate %>%</p>
      <% end %>
      <% unless msl_gem.s_resist == 0 %>
        <p>Resist: <%= msl_gem.s_resist %>%</p>
      <% end %>
    </div>
  </div>
  <% if msl_gem.first_gem %>
  <div class="equipped-astromon <%= status %>">
      <%= image_tag msl_gem.first_gem.astromon.specie.pic, alt: msl_gem.first_gem.astromon.specie.name %>
    </div>
  <% elsif msl_gem.second_gem %>
    <div class="equipped-astromon <%= status %>">
      <%= image_tag msl_gem.second_gem.astromon.specie.pic, alt: msl_gem.second_gem.astromon.specie.name %>
    </div>
  <% elsif msl_gem.third_gem %>
    <div class="equipped-astromon <%= status %>">
      <%= image_tag msl_gem.third_gem.astromon.specie.pic, alt: msl_gem.third_gem.astromon.specie.name %>
    </div>
  <% end %>
</div>
