<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://b.thumbs.redditmedia.com/uBe6rlt64wx5e4zaYSENwlWmZ3-lhSQTgNYwukSEOkM.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.guest %>
          <li><%= link_to "Save your account", edit_user_registration_path, class: "nav-link" %></li>
        <% end %>
        <li class="nav-item dropdown">
          <%= image_tag "https://scontent-lhr8-1.xx.fbcdn.net/v/t1.0-9/70735034_2499141400363476_6723365259974803456_n.png?_nc_cat=102&_nc_ohc=RN_9VqbA-_YAX8hh2y5&_nc_ht=scontent-lhr8-1.xx&oh=355c968944ec7cbdbac3f3bb2df69e3b&oe=5ED89A8D", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Your Astromons", astromons_path, class: "dropdown-item" %>
            <%= link_to "Your Gems", msl_gems_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
