<div class="container">
  <%= link_to new_trinket_one_path do %>
    <button class="button">Add Trinket 1</button>
  <% end %>

  <%= link_to msl_gems_path do %>
    <button class="button">Your Gems</button>
  <% end %>

  <%= link_to astromons_path do %>
    <button class="button">Your Astromons</button>
  <% end %>
</div>

<div class="container">
  <div class="gem-cards">
    <% @trinket_ones.each do |trinket_one| %>
      <%= render "shared/astromon-trinkets", trinket: trinket_one %>
      <%= link_to trinket_one_path(trinket_one), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </div>
</div>
