<div class="container new">
  <div class="posts">
    <div class="post">
      <div class="content">
        <p>Using three gems of the same type gives a specific boost.</p>
      </div>
    </div>
  </div>
  <%= simple_form_for([@astromon, @second_gem]) do |f| %>
    <div class="gem-cards">
      <% @second_gems.each do |msl_gem| %>
        <% if msl_gem.available %>
          <label>
            <%= check_box_tag "msl_gem", msl_gem.id %>
            <%= render "shared/astromon-gems", msl_gem: msl_gem %>
          </label>
        <% else %>
            <%= render "shared/astromon-gems", msl_gem: msl_gem %>
        <% end %>
      <% end %>
    </div>
    <%= f.submit "Add Second Gem" %>
  <% end %>
</div>
