<div class="container filter">
  <%= form_tag msl_gems_path, method: :get do %>
    <%= select_tag(:shape, raw('<option value="">--Select Shape--</option><option value="Square">Square</option><option value="Triangle">Triangle</option><option value="Diamond">Diamond</option>')) %>
    <%= select_tag(:stat, raw('<option value="">--Select Main Stat--</option><option value="m_hp">HP</option><option value="m_attack">Attack</option><option value="m_defence">Defence</option><option value="m_recovery">Recovery</option><option value="m_crit_rate">Crit. Rate</option><option value="m_crit_dmg">Crit. Dmg</option><option value="m_resist">Resist</option>')) %>
    <%= submit_tag "Filter Gems", class: "button" %>
    <%= link_to "Reset Filter", msl_gems_path, class: "button"  %>
  <% end %>
</div>

<div class="container">
  <%= link_to new_msl_gem_path do %>
    <button class="button">Add Gem</button>
  <% end %>

  <%= link_to astromons_path do %>
    <button class="button">Your Astromons</button>
  <% end %>

  <%= link_to trinkets_path do %>
    <button class="button">Your Trinkets</button>
  <% end %>
</div>

<div class="container">
  <div class="gem-cards">
    <% @msl_gems.each do |msl_gem| %>
      <%= render "shared/astromon-gems", msl_gem: msl_gem %>
      <div>
        <%= link_to msl_gem_path(msl_gem), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash gem-delete"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
