<div class="container">
  <%= link_to new_msl_gem_path do %>
    <button class="button">Add Gem</button>
  <% end %>

  <%= link_to astromons_path do %>
    <button class="button">Your Astromons</button>
  <% end %>

  <%= link_to trinkets_path do %>
    <button class="button">Your Trinkets</button>
  <% end %>
</div>

<div class="container">
  <div class="gem-cards">
    <% @msl_gems.each do |msl_gem| %>
      <%= render "shared/astromon-gems", msl_gem: msl_gem %>
      <%= link_to msl_gem_path(msl_gem), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash gem-delete"></i>
      <% end %>
    <% end %>
  </div>
</div>
