<div class="invisible" id="select">Select</div>
<div class="container new">
  <%= simple_form_for([@astromon, @second_trinket]) do |f| %>
    <div class="gem-cards">
      <% @second_trinkets.each do |trinket| %>
        <% if trinket.available %>
          <label>
            <%= check_box_tag "trinket", trinket.id, false, class: "invisible" %>
            <%= render "shared/astromon-trinkets-two", trinket: trinket %>
          </label>
        <% end %>
      <% end %>
    </div>
    <%= f.submit "Add Second Trinket", class: "button" %>
    <%= link_to "Back", astromons_path, class: "button" %>
  <% end %>
</div>
